<div class="row">
    <div class="col-12">
      <div class="card border-primary">
        <h3 class="card-header bg-primary">Parent Component</h3>
        <div class="card-body">
          <h4 class="card-title">Student List</h4>

          <table class="table table-hover table-striped">
            <thead>
            <tr>
              <th>#</th>
              <th>name</th>
              <th>Gender</th>
              <th>Point</th>
              <th>Result</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of studentList; let i = index" (click)="showDetail(i)">
              <td>{{i}}</td>
              <!--              <td [ngClass]="item.name == 'VIP' ? 'txt-color , txt-font-weight': ''">{{item.name}}</td>-->
              <!--              <td [ngClass]="{'txt-font-weight , txt-color':item.name == 'VIP'}">{{item.name}}</td>-->
              <td [ngStyle]="{
                'color': item.name == 'VIP' ? 'red' : '',
                'font-weight': item.name == 'VIP' ? 'bold' : ''
              }" >{{item.name}}</td>
              <td [ngSwitch]="item.gender">
                <span *ngSwitchCase="0">FeMale</span>
                <span *ngSwitchCase="1">Male</span>
                <span *ngSwitchDefault>LGBT</span>
              </td>
              <td>{{item.point}}</td>
              <td>
                <span *ngIf="item.point > 75; else elseBlock">Pass</span>
                <ng-template #elseBlock>
                  <span>Fail</span>
                </ng-template>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
    <div class="col-6">

    </div>
  </div>
