<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Student List</h4>

          <table class="table">
            <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Gender</th>
              <th>Point</th>
              <th>Result</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of students; let i = index">
              <td>{{i + 1}}</td>
<!--              <td [ngClass]="item.name == 'VIP' ? 'txt-color , txt-font-weight' : ''">{{item.name}}</td>-->
              <td [ngStyle]="{
                'color': item.name == 'VIP' ? 'red' : '',
                'font-weight': item.name == 'VIP' ? 'bold' : ''
              }">{{item.name}}</td>

              <td [ngSwitch]="item.gender">
                <span *ngSwitchCase="0">FeMale</span>
                <span *ngSwitchCase="1">Male</span>
                <span *ngSwitchDefault>LGBT</span>
              </td>
              <td>{{item.point}}</td>
              <td>
                <span *ngIf="item.point > 75; else elseBlock">Pass</span>
                <ng-template #elseBlock>
                  <span>Fail</span>
                </ng-template>
<!--                <span *ngIf="item.point >= 75">Pass</span>-->
<!--                <span *ngIf="item.point < 75">Fail</span>-->
              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
